src/main/mule/git-actions-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8ccf3ad-b37b-4ccc-80b2-f7af758398f5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-actions-demoFlow" doc:id="fd71cc42-57c9-4c11-968a-c24aa81f3e02" >
		<http:listener doc:name="Listener" doc:id="7a80eac7-90b3-476f-b675-00a9d00cda6f" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello World!"]' doc:name="Set Payload" doc:id="9dec0271-45af-4c7f-996c-9e4aa4bd6fa2" />
		<logger level="INFO" doc:name="Logger" doc:id="45b4e0c8-6c2a-4178-bbe3-19069de9108a" message="#[payload]"/>
	</flow>
</mule>
